// Variables to be to be utilized by other components and files.

// Colors
$color-black: #333;
$color-white: #FFFFFF;
$color-grey: #808080;
$color-dim-grey: #696969;
$color-green: #7aba7a;
$color-green-light: #dff0d8;
$color-green-bright: #5cb85c;
$color-green-mild: #5ca28b;
$color-green-pale: #90baad;
$color-teal: #008080;
$color-main-search-field: #4C916B;

$button-background-color: $color-dim-grey;
$control-button-background-color: #e6e6e6;
$page-button-color: rgba(0, 0, 0, 0.7);

// Defines maximum column width
$list-view-max-column-width: 200px;