swagger: '2.0'
info:
  title: Translator Knowledge Beacon Aggregator API
  version: 1.0.5
  contact:
    url: 'http://starinformatics.com'
    email: richard@starinformatics.com
  description: >
    This is the Translator Knowledge Beacon Aggregator web service application
    programming interface (API) that provides integrated access to a pool of
    knowledge sources publishing concepts and relations through the Translator
    Knowledge Beacon API. This API is similar to that of the latter mentioned
    API with the addition of some extra informative endpoints plus session
    identifier and beacon indices. These latter identifiers are locally assigned
    numeric indices provided to track the use of specific registered beacons
    within the aggregator API itself.
  license:
    name: MIT License
    url: 'http://opensource.org/licenses/MIT'
host: kba.ncats.io
basePath: /
schemes:
  - https
produces:
  - application/json
tags:
  - name: summary
    description: Summary statistics about the knowledge source
  - name: concepts
    description: Queries for concepts
  - name: predicates
    description: Queries for predicates
  - name: statements
    description: Queries for concept-relationship statements
  - name: evidence
    description: Queries for references cited as evidence for statements
  - name: aggregator
    description: Queries for aggregation information
paths:
  /types:
    get:
      description: >
        Get a list of types and number of instances in the knowledge source, and
        a link to the API call for the list of equivalent terminology
      tags:
        - summary
      parameters:
        - name: beacons
          in: query
          description: >
            set of aggregator indices of beacons to be used as knowledge sources
            for the query
          required: false
          type: array
          items:
            type: string
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: false
          type: string
      operationId: linkedTypes
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerSummary
              type: object
              properties:
                id:
                  type: string
                  description: |
                    the concept type (semantic group)
                idmap:
                  type: string
                  description: The URL to execute the exactmatches API call on the id
                frequency:
                  type: integer
                  description: |
                    the number of instances of the specified type
                beacon:
                  type: string
                  description: |
                    beacon ID
          description: |
            Successful response with types and frequency returned
          examples:
            application/json:
              - id: CHEM
                frequency: 12355
                idmap: 'http://myservice.net/api/v1/exactmatches/CHEM'
                beacon: '2'
              - id: ANAT
                frequency: 1234
                idmap: 'http://myservice.net/api/v1/exactmatches/ANAT'
                beacon: '2'
  '/concepts/{cliqueId}':
    get:
      description: >
        Retrieves details for a specified clique of equivalent concepts in the
        system,  as specified by a (url-encoded) CURIE identifier of a clique
        known to the aggregator
      tags:
        - concepts
      parameters:
        - name: cliqueId
          in: path
          description: >-
            a [CURIE-encoded](https://www.w3.org/TR/curie/) identifier, as
            returned  by any other endpoint of the beacon aggregator API, of an
            exactly matching  concept clique of interest.
          required: true
          type: string
        - name: beacons
          in: query
          description: >
            set of aggregator indices of beacons to be used as knowledge sources
            for the query
          required: false
          type: array
          items:
            type: string
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: false
          type: string
      operationId: getConceptDetails
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerConceptWithDetails
              type: object
              properties:
                clique:
                  type: string
                  description: >
                    CURIE identifying the equivalent concept clique to which the
                    concept belongs.
                id:
                  type: string
                  description: >
                    CURIE identifying the specific beacon source concept being
                    described.
                aliases:
                  type: array
                  description: >
                    set of alias CURIES in the equivalent concept clique of the
                    concept
                  items:
                    type: string
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                semanticGroup:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
                details:
                  type: array
                  items:
                    title: ServerConceptDetail
                    type: object
                    properties:
                      tag:
                        type: string
                        description: |
                          property name
                      value:
                        type: string
                        description: |
                          property value
                beacon:
                  type: string
                  description: |
                    beacon ID
          description: |
            Successful response with clique concept details returned
          examples:
            application/json:
              - clique: 'wd:Q14883734'
                aliases:
                  - 'wd:Q14883734'
                  - 'OMIM:277700'
                name: WRN
                semanticGroup: GENE
                synonyms: []
                definition: Werner Syndrome Gene
                details: []
                beacon: '3'
  /concepts:
    get:
      description: |
        Retrieves a (paged) list of concepts in the system
      tags:
        - concepts
      parameters:
        - name: keywords
          in: query
          description: >-
            a (urlencoded) space delimited set of keywords or substrings against
            which to match concept names and synonyms, e.g. diabetes.
          required: true
          type: string
        - name: semanticGroups
          in: query
          description: >
            a (url-encoded) space-delimited set of semantic groups (specified as
            codes CHEM, GENE, ANAT, etc.) to which to constrain concepts matched
            by the main keyword search (see [semantic
            groups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt) for the
            full list of codes)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: beacons
          in: query
          description: >
            set of aggregator indices of beacons to be used as knowledge sources
            for the query
          required: false
          type: array
          items:
            type: string
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: false
          type: string
      operationId: getConcepts
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerConcept
              type: object
              properties:
                clique:
                  type: string
                  description: >
                    CURIE identifying the inferred equivalent concept clique to
                    which the concept belongs. This is assigned by an identifier
                    precedence heuristic by the beacon-aggregator
                id:
                  type: string
                  description: |
                    CURIE for the concept in the specified knowledge beacon
                aliases:
                  type: array
                  description: >
                    set of alias CURIES in the equivalent concept clique of the
                    concept
                  items:
                    type: string
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                semanticGroup:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
                beacon:
                  type: string
                  description: |
                    beacon ID
          description: |
            Successful response with concept list returned
          examples:
            application/json:
              - clique: 'WD:Q6591532'
                id: 'wd:Q6591532'
                aliases:
                  - 'wd:Q6591532'
                name: 'WRN protein, human'
                semanticGroup: CHEM
                synonyms:
                  - RecQ3
                  - Werner Syndrome ATP-Dependent Helicase
                  - 'RECQL2 protein, human'
                  - EC 3.1.-.-
                  - 'WRN protein, human'
                  - WRN
                  - Exonuclease WRN
                  - Werner Syndrome Protein
                  - RecQ Protein-Like 2
                  - EC 3.6.4.12
                  - 'RECQ3 protein, human'
                  - 'Werner syndrome helicase, human'
                  - WRN Protein
                  - 'DNA Helicase, RecQ-Like Type 3'
                definition: >-
                  Werner syndrome ATP-dependent helicase (1432 aa, ~162 kDa) is
                  encoded by the human WRN gene. This protein plays a role in
                  both magnesium and ATP-dependent DNA-helicase activity and
                  3\'->5\' exonuclease activity towards double-stranded DNA with
                  a 5\'-overhang.
                beacon: '3'
              - id: 'wd:Q18042562'
                name: WRNIP1
                semanticGroup: GENE
                synonyms:
                  - WHIP
                  - Werner helicase interacting protein 1
                  - WRNIP1
                  - bA420G6.2
                definition: human gene
                beacon: '4'
              - id: 'wd:Q14883734'
                name: WRN
                semanticGroup: GENE
                synonyms:
                  - RECQ3
                  - RECQL3
                  - Werner syndrome RecQ like helicase
                  - RECQL2
                definition: human gene
                beacon: '4'
              - id: 'wd:Q1154619'
                name: Werner Syndrome
                semanticGroup: DISO
                synonyms:
                  - Werner Syndrome
                  - Pangeria
                  - 'Syndrome, Werner'
                  - 'Progeria, Adult'
                  - 'Werner Syndrome [Disease/Finding]'
                  - Werner syndrome (disorder)
                  - adult progeria
                  - Werner
                  - syndromes werner
                  - 'Syndrome, Werner\''s'
                  - WRN
                  - Werner\'s syndrome
                  - adults progeria
                  - Werner syndrome (adult progeria) (diagnosis)
                  - Werner syndrome (adult progeria)
                  - 'Syndrome, Werners'
                  - Adult premature aging syndrome
                  - syndromes werner\'s
                  - Werners Syndrome
                  - syndrome werner
                  - Progeria of the adult
                  - WS
                  - syndromes werners
                  - Adult premature ageing syndrome
                definition: >-
                  autosomal recessive disorder that causes premature aging in
                  adults, characterized by sclerodermal skin changes, cataracts,
                  subcutaneous calcifications, muscular atrophy, a tendency to
                  diabetes mellitus, aged appearance of the face, baldness, and
                  a high incidence of neoplastic disease.
                beacon: '3'
  /predicates:
    get:
      description: >
        Get a list of predicates used in statements issued by the knowledge
        source
      tags:
        - predicates
      operationId: getPredicates
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerPredicate
              type: object
              properties:
                name:
                  type: string
                  description: |
                    exact unique human readable name of predicate relation
                beacons:
                  type: array
                  description: >
                    list of metadata for beacons that support the use of this
                    predicate relation
                  items:
                    title: ServerPredicateBeacon
                    type: object
                    properties:
                      beacon:
                        type: string
                        description: |
                          aggregator index of the given beacon
                      id:
                        type: string
                        description: >
                          unique CURIE-encoded identifier of predicate
                          aggregator indices of beacons in the given beacon
                      definition:
                        type: string
                        description: >
                          human readable definition assigned by the beacon for
                          the predicate relation
          description: >
            Successful response with predicates with CURIE and definitions
            indexed by beacons which support the relation
          examples:
            application/json:
              - name: interacts with
                beacons:
                  - beacon: 1
                    id: 'wd:P123'
                    definition: influences in some manner
                  - beacon: 3
                    id: 'mybeacon:P456'
                    definition: has a physical connection with
  /statements:
    get:
      description: >
        Given a specification [CURIE-encoded](https://www.w3.org/TR/curie/) a
        'source' clique identifier for a set of exactly matching concepts, 
        retrieves a paged list of concept-relations where either the subject or
        object concept matches the 'source' clique identifier.  Optionally, a
        'target' clique identifier may also be given, in which case the 'target'
        clique identifier should match the concept clique opposing the 'source',
        that is, if the 'source' matches a subject, then the  'target' should
        match the object of a given statement (or vice versa).
      tags:
        - statements
      parameters:
        - name: source
          in: query
          description: >
            a [CURIE-encoded](https://www.w3.org/TR/curie/) identifier of the 
            exactly matching 'source' clique, as defined by other endpoints of
            the beacon aggregator API. 
          required: true
          type: string
        - name: relations
          in: query
          description: >
            a (url-encoded, space-delimited) string of predicate relation
            identifiers with which to constrain the statement relations
            retrieved  for the given query seed concept. The predicate ids sent
            should  be as published by the beacon-aggregator by the /predicates
            API endpoint.
          required: false
          type: string
        - name: target
          in: query
          description: >
            a [CURIE-encoded](https://www.w3.org/TR/curie/) identifier of the 
            exactly matching 'target' clique, as defined by other endpoints of
            the beacon aggregator API. 
          required: false
          type: string
        - name: keywords
          in: query
          description: >
            a (url-encoded, space-delimited) string of keywords or substrings
            against which to match the 'target' concept or 'predicate' names of
            the set of concept-relations matched by the 'source' concepts.
          required: false
          type: string
        - name: semanticGroups
          in: query
          description: >
            a (url-encoded, space-delimited) string of semantic groups
            (specified as codes CHEM, GENE, ANAT, etc.) to which to constrain
            'target' concepts associated with the given 'source' concept  (see
            [Semantic
            Groups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt) for the
            full list of codes)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: beacons
          in: query
          description: >
            set of aggregator indices of beacons to be used as knowledge sources
            for the query
          required: false
          type: array
          items:
            type: string
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: false
          type: string
      operationId: getStatements
      responses:
        '200':
          description: >
            Successful response returns a list of concept-relations where there
            is an exact match of an input concept identifier either to the
            subject or object concepts of the statement
          schema:
            type: array
            items:
              title: ServerStatement
              type: object
              properties:
                id:
                  type: string
                  description: >-
                    CURIE-encoded identifier for statement (can be used to
                    retrieve associated evidence)
                subject:
                  title: ServerStatementSubject
                  type: object
                  properties:
                    clique:
                      type: string
                      description: >
                        CURIE-encoded canonical identifier of "equivalent
                        concepts clique"
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of concept
                    name:
                      type: string
                      description: human readable label of subject concept
                    semanticGroup:
                      type: string
                      description: >
                        a semantic group for the subject concept (specified as a
                        code CHEM, GENE, etc. - see [Semantic
                        Groups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt)
                        for the full list of codes)
                predicate:
                  title: ServerStatementPredicate
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of predicate resource
                    name:
                      type: string
                      description: human readable label of concept
                object:
                  title: ServerStatementObject
                  type: object
                  properties:
                    clique:
                      type: string
                      description: >
                        CURIE-encoded canonical identifier of "equivalent
                        concepts clique"
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of object concept
                    name:
                      type: string
                      description: human readable label of object concept
                    semanticGroup:
                      type: string
                      description: >
                        a semantic group for the subject concept (specified as a
                        code CHEM, GENE, etc. - see [Semantic
                        Groups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt)
                        for the full list of codes)
                beacon:
                  type: string
                  description: |
                    beacon ID
          examples:
            application/json:
              - source: semmeddb
                id: 'kb:12345'
                subject:
                  id:
                    - 'wd:Q14912054'
                  name: KCNJ11
                  semanticGroup: GENE
                predicate:
                  id:
                    - 'kbp:10'
                  name: Causes
                object:
                  id:
                    - 'wd:Q2898645'
                  name: Neonatal diabetes mellitus
                  semanticGroup: DISO
                beacon: '1'
  '/evidence/{statementId}':
    get:
      description: >
        Retrieves a (paged) list of annotations cited as evidence for a
        specified concept-relationship statement
      tags:
        - evidence
      parameters:
        - name: statementId
          in: path
          description: >
            (url-encoded) CURIE identifier of the concept-relationship statement
            ("assertion", "claim") for which associated evidence is sought, e.g.
            kbs:Q420626_P2175_Q126691
          required: true
          type: string
        - name: keywords
          in: query
          description: >
            (url-encoded, space delimited) keyword filter to apply against the
            label field of the annotation
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: >
            number of cited references per page to be returned in a paged set of
            query results
          required: false
          type: integer
        - name: beacons
          in: query
          description: >
            set of aggregator indices of beacons to be used as knowledge sources
            for the query
          required: false
          type: array
          items:
            type: string
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: false
          type: string
      operationId: getEvidence
      responses:
        '200':
          description: |
            successful call returns a list of annotation with metadata
          schema:
            type: array
            items:
              title: ServerAnnotation
              type: object
              properties:
                id:
                  type: string
                  description: >
                    CURIE-encoded identifier to an associated external resources
                    (e.g. PMID of a pubmed citation)
                label:
                  type: string
                  description: >
                    canonical human readable and searchable label of the
                    annotation (i.e. comment, matched sentence, etc.)
                type:
                  type: string
                  description: >
                    Gene Ontology Evidence Code
                    (http://www.geneontology.org/page/guide-go-evidence-codes)
                date:
                  type: string
                  description: >
                    publication date of annotation (generally of format
                    'yyyy-mm-dd')
                beacon:
                  type: string
                  description: |
                    beacon ID
          examples:
            application/json:
              - id:
                  - 'pmid:22781086'
                label: >-
                  Neonatal diabetes mellitus and congenital diaphragmatic hernia
                  coincidence or concurrent etiology?
                type: TAS
                date: 2012-07-10T00:00:00.000Z
                beacon: '1'
  /beacons:
    get:
      description: |
        Get a list of all of the knowledge beacons that the aggregator can query
      tags:
        - aggregator
      operationId: getBeacons
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerKnowledgeBeacon
              type: object
              properties:
                id:
                  type: string
                  description: |
                    beacon ID
                name:
                  type: string
                  description: |
                    beacon name
                url:
                  type: string
                  description: |
                    URL used to execute API calls on the beacon
                description:
                  type: string
                  description: |
                    beacon description
                contact:
                  type: string
                  description: |
                    name of the person responsible for this beacon
                wraps:
                  type: string
                  description: |
                    URL of this beacon's data source
                repo:
                  type: string
                  description: |
                    URL of this beacon's repository
          description: |
            Successful response with beacons
          examples:
            application/json:
              - id: '1'
                name: SemMedDB
                url: 'http://rkb.ncats.io'
                description: |
                  Reference Knowledge Beacon implementation indexed by Wikidata
  /errorlog:
    get:
      description: |
        Get a log of the most recent errors in this session
      tags:
        - aggregator
      parameters:
        - name: sessionId
          in: query
          description: |
            client-defined session identifier
          required: true
          type: string
      operationId: getErrors
      responses:
        '200':
          schema:
            type: array
            items:
              title: ServerLogEntry
              type: object
              properties:
                timestamp:
                  type: string
                  description: |
                    timestamp
                beacon:
                  type: string
                  description: |
                    beacon ID
                query:
                  type: string
                  description: |
                    URL of the API call executed by the aggregator
                message:
                  type: string
                  description: |
                    error message
          description: |
            Successful response with most recent errors
          examples:
            application/json:
              - timestamp: '2016-12-31 15:09:24.614'
                beacon: '1'
                query: 'http://rkb.ncats.io/concepts?keywords=cancer'
                message: Bad Gateway
